<!DOCTYPE html>
<head>
    <title> Food Factory App</title>
</head>
<body>
    <centre>
        <h1>SignIn</h1>
        <form method="POST" action="/signin">
            <div>
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
          
              <label for="pwd"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="pwd" required>
          
              <button type="submit">Login</button>
            </div>
          
            <div>
              <button type="button">Cancel</button>
              <span>Forgot <a href="#">password?</a></span>
            </div>
          </form>
    </centre>
</body>